.App {
  font-family: "Shabnam", cursive;
}

.userImg {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 50%;
}

.myForm {
  background-color: #e9ecef;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.myCard {
  width: 16rem;
  background: #fff3cd !important;
  cursor: pointer;
}

.myCard:hover {
  opacity: 0.7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.myTable {
  border: 1px solid grey;
}

thead tr {
  background: #cff4fc;
}

tbody tr:nth-child(n) {
  background: #fff3cd;
}

tbody tr:nth-child(2n) {
  background: #cff4fc;
}

.myLink {
  text-decoration: none;
  color: black;
}

.activeLink {
  background-color: #cff4fc !important;
}
